@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --mobile-card-width: calc(50% - 10px);
}

* {
    font-family: "Roboto", sans-serif !important;
}

body {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("https://raw.githubusercontent.com/J9B1/snapdraft/main/data/img/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.footer {
    margin-top: 10px !important;
    text-align: center !important;
    color: #fff;
}

.disabled-btn {
    cursor: not-allowed;
    opacity: 0.5;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.container {
    display: inline-block;
}

.space {
    margin-top: 5px !important;
}

.dropdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

select {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
}

button {
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 16px;
}

.large-card {
    padding: 0;
    text-align: center;
    border-radius: 5px;
    background-color: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.large-card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    cursor: pointer;
}

.replace-btn {
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

.card-item {
    margin-bottom: 10px;
    padding: 0;
    width: var(--mobile-card-width);
    height: auto;
    object-fit: cover;
    text-align: center;
    background-color: none;
    border: none;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 992px) {
    .card-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

.card-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#card-section {
    background: rgba(0, 0, 0, 0.25);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#resetDeck {
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

#deck-actions {
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
}

.button-container .btn {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        gap: 10px;
    }

    .button-container .btn {
        width: 100%;
    }
}

.card-description {
    flex-grow: 1;
    margin: 10px 0;
    font-size: 12px;
    color: #ccc;
}

.card-description span {
    font-weight: bold;
    color: #fff;
}

.accordion-item {
    background: none !important;
}

.accordion-collapse {
    background: rgba(0,0,0,0.25);
}

.accordion-collapse {
    padding-top: 10px;
}

#view-deck-header button {
    color: white;
    background: rgba(0,0,0,0.45);
}

.accordion-button {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button.collapsed {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    overflow: hidden !important; /* Ensures the content stays within the rounded corners */
}

.accordion-button:not(.collapsed) {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* TOAST NOTIFICATION */
.toast {
    visibility: hidden;
    min-width: 250px;
    height: 45px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    font-size: 17px;
    line-height: 45px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    transition: opacity 0.5s ease-in-out;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.toast.hidden {
    opacity: 0;
    visibility: hidden;
}